*{
	margin: 0px;
	padding: 0px;
}

.s5_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s5_2 {
	position: absolute;
  left: 136px;
  top: 443px;
  width: 230px;
  height: 228px;
	animation: zoomIn 0.7s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 4;
}

.s5_3_wrap {
	position: absolute;
  left: 397px;
  top: 443px;
  width: 230px;
  height: 228px;
	animation: pulse 1s infinite;
	animation-delay: 2s;
	animation-fill-mode: both;
	transform-origin: center;
	z-index: 3;
}

.s5_3 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 230px;
  height: 228px;
	animation: zoomIn 0.7s;
	animation-delay: 0.8s;
	animation-fill-mode: both;
	z-index: 3;
}

.s5_4 {
	position: absolute;
  left: 657px;
  top: 443px;
  width: 230px;
  height: 228px;
	animation: zoomIn 0.7s;
	animation-delay: 1.4s;
	animation-fill-mode: both;
	z-index: 2;
}

.s5_5 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s5_pop1 {
	position: absolute;
  left: 377px;
  top: 434px;
  width: 268px;
  height: 257px;
	z-index: 15;
}

.s5_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.02, 1.02, 1.02);
    transform: scale3d(1.02, 1.02, 1.02);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}