*{
	margin: 0px;
	padding: 0px;
}

.s3_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s3_2 {
	position: absolute;
  left: 78px;
  top: 68px;
  width: 189px;
  height: 87px;
	animation: fadeInDown 1s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 4;
}

.s3_7 {
	position: absolute;
  left: 271px;
  top: 123px;
  width: 486px;
  height: 183px;
	animation: fadeInUp 1s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 4;
}

.s3_3 {
	position: absolute;
  left: 152px;
  top: 312px;
  width: 722px;
  height: 174px;
	animation: zoomIn 1s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 3;
}

.s3_4 {
	position: absolute;
  left: 255px;
  top: 497px;
  width: 538px;
  height: 72px;
	animation: fadeInUp 0.7s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3_5 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 512px;
  height: 768px;
	animation: slideOutLeft 2s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 8;
}

.s3_6 {
	position: absolute;
  left: 512px;
  top: 0px;
  width: 512px;
  height: 767px;
	animation: slideOutRight 2s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 8;
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}