*{
	margin: 0px;
	padding: 0px;
}

.s4_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s4_2 {
	position: absolute;
  left: 41px;
  top: 427px;
  width: 338px;
  height: 249px;
	animation: zoomIn 0.7s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 4;
}

.s4_3 {
	position: absolute;
  left: 280px;
  top: 427px;
  width: 368px;
  height: 249px;
	animation: zoomIn 0.7s;
	animation-delay: 0.8s;
	animation-fill-mode: both;
	z-index: 3;
}

.s4_4 {
	position: absolute;
  left: 606px;
  top: 427px;
  width: 335px;
  height: 249px;
	animation: zoomIn 0.7s;
	animation-delay: 1.4s;
	animation-fill-mode: both;
	z-index: 2;
}

.s4_5 {
	position: absolute;
  left: 542px;
  top: 408px;
  width: 390px;
  height: 293px;
	animation: fadeInRight 1s;
	animation-delay: 3.5s;
	animation-fill-mode: both;
	z-index: 2;
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}