* {
  margin: 0px;
  padding: 0px;
}

.s2_1 {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.s2_2_wrap {
  position: absolute;
  left: 226px;
  top: 158px;
  width: 571px;
  height: 571px;
  animation: zoomIn 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  z-index: 3;
}

.s2_2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 571px;
  height: 571px;
  animation: rotateInLoop 70s infinite;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  transition-timing-function: linear;
  z-index: 3;
}

.s2_3 {
  position: absolute;
  left: 0px;
  top: 74px;
  width: 1024px;
  height: 694px;
  z-index: 5;
}

.s2_4 {
  position: absolute;
  left: 431px;
  top: 360px;
  width: 150px;
  height: 149px;
  animation: zoomIn 1s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
  z-index: 6;
}

.s2_5 {
  position: absolute;
  left: 394px;
  top: 407px;
  width: 244px;
  height: 259px;
  animation: fadeInRight 1s;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 2;
}

.s2_6 {
  position: absolute;
  left: 726px;
  top: 407px;
  width: 243px;
  height: 259px;
  animation: fadeInRight 1s;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 2;
}


@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.stampIn {
  -webkit-animation-name: stampIn;
  animation-name: stampIn;
}

@-webkit-keyframes rotateInLoop {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

@keyframes rotateInLoop {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

.rotateInLoop {
  -webkit-animation-name: rotateInLoop;
  animation-name: rotateInLoop;
}
