* {
  margin: 0px;
  padding: 0px;
}

.s4_1 {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.s4_2 {
  position: absolute;
  left: 90px;
  top: 65px;
  width: 741px;
  height: 78px;
  animation: slideInUp 1s;
  animation-delay: 0s;
  animation-fill-mode: both;
  z-index: 2;
}

.s4_3 {
  position: absolute;
  left: 205px;
  top: 149px;
  width: 615px;
  height: 201px;
  animation: zoomIn 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s4_4 {
  position: absolute;
  left: 80px;
  top: 424px;
  width: 246px;
  height: 263px;
  animation: fadeInRight 0.3s;
  animation-delay: 1.2s;
  animation-fill-mode: both;
  z-index: 2;
}

.s4_5 {
  position: absolute;
  left: 96px;
  top: 497px;
  width: 378px;
  height: 66px;
  animation: fadeInRight 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s4_6 {
  position: absolute;
  left: 96px;
  top: 573px;
  width: 423px;
  height: 67px;
  animation: fadeInRight 0.5s;
  animation-delay: 1.8s;
  animation-fill-mode: both;
  z-index: 2;
}

.s4_7 {
  position: absolute;
  left: 96px;
  top: 649px;
  width: 386px;
  height: 66px;
  animation: fadeInRight 0.5s;
  animation-delay: 2.1s;
  animation-fill-mode: both;
  z-index: 2;
}

.s4_8 {
  position: absolute;
  left: 564px;
  top: 505px;
  width: 395px;
  height: 195px;
  animation: zoomIn 0.7s;
  animation-delay: 2.8s;
  animation-fill-mode: both;
  z-index: 2;
}

.s4_9 {
  position: absolute;
  left: 736px;
  top: 352px;
  width: 153px;
  height: 148px;
  animation: stampIn 0.3s;
  animation-delay: 3.8s;
  animation-fill-mode: both;
  z-index: 2;
}

.s4_12 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s4_pop1 {
	position: absolute;
	height: 100px;
	width: 150px;
	right: 0px;
	bottom: 0px;
	z-index: 15;
}

.s4_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.stampIn {
  -webkit-animation-name: stampIn;
  animation-name: stampIn;
}