* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.homebtn1 {
  position: absolute;
  left: 522px;
  top: 684px;
  width: 153px;
  height: 84px;
  z-index: 254;
}

.homebtn2 {
  position: absolute;
  left: 680px;
  top: 684px;
  width: 162px;
  height: 84px;
  z-index: 254;
}

.homebtn3 {
  position: absolute;
  left: 847px;
  top: 684px;
  width: 153px;
  height: 84px;
  z-index: 254;
}